*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color : #202124;
    --text-color : #22;
    --background-color : #ffffff;
    --text-color : #d6b318;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}
a{
    text-decoration: none;
}    

/* --------------------------- */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
}

.logo img {
    width: 100px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
}



